-no_content_row
-hidden_title "Get involved"
-content_for :head do
  :coffeescript

    $ ->

      ActivityFilter.filter('#{activity_typeize(@activity_types.first)}')    

.row.headline
  .twelvecol
    There's plenty of activities to try - so click on one now to find out more...
.row
  .twelvecol.info
    %h4
      1. Choose a project:
.row
  .twelvecol
    .activity_type_grid
      -@activity_types.each do |activity_type|
        -if activity_type.is_a?(String)
          =link_to_function("#{image_for(OrganisationGroup.new, "124x124#")}<div class='label'>#{activity_type}</div>", "ActivityFilter.filter('#{activity_typeize(activity_type)}')", :id => "activity_filter_#{activity_typeize(activity_type)}", :class => (activity_type == @activity_types.first ? 'activity_type active' : 'activity_type'))
        -else
          =link_to_function("#{image_for(activity_type, "124x")}<div class='label'>#{activity_type}</div>", "ActivityFilter.filter('#{activity_typeize(activity_type)}')", :id => "activity_filter_#{activity_typeize(activity_type)}", :class => (activity_type == @activity_types.first ? 'activity_type active' : 'activity_type'))
.row
  .twelvecol.info
    %h4
      2. Choose an activity:
.row
  .twelvecol
    .activity_grid
      -@activities.each do |activity|
        -link_to(activity, :class => "activity type_#{activity_typeize(activity.organisation_group || 'East London')}") do
          =image_for(activity, "124x124#")
          .label=activity
