="Hi #{@recipient.forename},"

="#{@time_slot_booking.member} has volunteered to #{@time_slot_booking.activity} on #{@time_slot_booking.starts_at_neat_string}."

To view the spot and confirm it, use the link below:

="#{site_url + organisation_time_slot_bookings_path(@time_slot_booking.organisation)}"

Thanks,

="The #{site_name} team"
=site_email