%p
  ="Hi #{@recipient.forename},"

%p
  ="Thank you for volunteering to help out #{@time_slot_booking.organisation}."

%p
  ="You have signed up to <strong>#{@time_slot_booking.activity}</strong> on <strong>#{@time_slot_booking.starts_at_neat_string}</strong>. This is the address:"
  
%p
  ="#{@time_slot_booking.organisation}<br />"
  =render_address(@time_slot_booking.organisation_location, :multi_line => true, :html => false, :separator => "<br />")
  
-if !@time_slot_booking.note.blank?
  %p
    ="The people at #{@time_slot_booking.organisation} left this note:"
  %p
    ="\t\"#{@time_slot_booking.note}\""

%p
  ="If you have any queries you can email us at #{APP_CONFIG['site_email']}. See you soon!"

%p
  Thanks,
%p
  ="The #{site_name} team"
  %br
  =site_email