="Hi #{@recipient.forename},"

="Thank you for volunteering to help out #{@time_slot_booking.organisation}."

="You have signed up to #{@time_slot_booking.activity} on #{@time_slot_booking.starts_at_neat_string}. This is the address:"

=@time_slot_booking.organisation_name
=render_address(@time_slot_booking.organisation_location, :multi_line => true, :html => false)
="\n"
-if !@time_slot_booking.note.blank?
  ="The people at #{@time_slot_booking.organisation} left this note:"
  ="\"#{@time_slot_booking.note}\""
="If you have any queries you can email us at #{APP_CONFIG['site_email']}. See you soon!"

Thanks,

="The #{site_name} team"
=site_email