%p
  ="Hi #{@recipient.forename},"
%p
  ="Thank you for volunteering to help out #{@time_slot_booking.organisation}."
%p
  ="We have informed #{@time_slot_booking.organisation} that you have volunteered to do the activity <strong>#{@time_slot_booking.activity}</strong> on <strong>#{@time_slot_booking.starts_at_neat_string}</strong>. They just need to confirm your spot."
%p
  ="So hold tight and you will receive a confirmation email very soon."
%p
  ="If you have any queries you can email us at #{APP_CONFIG['site_email']}."
%p
  Thanks,
%p
  ="The #{site_name} team"
  %br
  =site_email