-hidden_title @member.full_name
-no_content_row

.row
  .profile_photo.threecol
    -if logged_in_as?(@member)
      =link_to image_for(@member, '300x'), :controller => 'member', :action => 'setphoto', :id => @logged_in_member
    -else
      =image_for(@member, '300x')
  .profile_info.ninecol.last
    %h1=@member.full_name
    -if !@member.bio.blank?
      %p=@member.bio
    -if logged_in_as?(@member)
      %p=link_to_box("Edit your bio", edit_bio_member_path(@member))
    -if @member.future_time_slots.present?
      #member_upcoming_spots.subrow
        %h3="#{forename_or_your(@member, :capitalize => true)} upcoming spots"
        -@member.future_time_slots.each_with_index do |booking, idx|
          %div{:class => "sixcol #{'last' if idx.odd?}"}
            =render("members/time_slot_booking", :time_slot_booking => booking)
    -if @member.past_time_slots.present?
      #member_upcoming_spots.subrow
        %h3="#{forename_or_your(@member, :capitalize => true)} past spots"
        %p="#{forename_or_you(@member, "have", :capitalize => true)} taken part in #{pluralize(@member.past_time_slots.count,'spot')}, here are some of the most recent ones."
        -@member.past_time_slots.limit(20).each_with_index do |booking, idx|
          %div{:class => "sixcol #{'last' if idx.odd?}"}
            =render("members/time_slot_booking", :time_slot_booking => booking)
.row
  .twelvecol
    -options_panel do
      =back_link

